<?xml version="1.0" encoding="utf-8"?>
<!-- 指定该Android应用的包名，该包名可用于唯一标识该应用-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sde.sdu.edu.helloworld">
    <!-- 指定Android应用标签、图标-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--定义Android应用的一个组件：Activity，该Activity的类为MainActivity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <!-- 指定该Activity是程序的入口-->
                <action android:name="android.intent.action.MAIN" />
                <!-- 指定加载该应用时运行该Activity-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>